#---- App settings ----
PYGEOAPI_CONFIG=pygeoapi-config.yml
PYGEOAPI_OPENAPI=example-openapi.yml
PYGEOAPI_SERVER_HOST=localhost
PYGEOAPI_SERVER_PORT=5000
PYGEOAPI_SERVER_PORT_CONTAINER=12345
#---- Docker build settings ----
# Do not mmodify unless you know what you are doing !
CONTAINER_REGISTRY=lgvudh.azurecr.io
IMAGE_NAME=example_ogcapi_processes
IMAGE_TAG=

